
@font-face {
  font-family: 'Itim';
  src: url('./Itim-Regular.ttf');
}
@font-face {
  font-family: 'Icons';
  src: url('./MaterialIconsOutlined-Regular.otf');
}
* { 
    font-family: "Itim"; 
    text-shadow: 1px 1px 5px white;
  }
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image:url('./city52.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.back {
  position: relative;
}
.container {
    width: 375px;
    display: grid;
    grid-template-rows: 150px 600px 50px;
}
.header {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    margin: 10px;
    padding: 0px;
}
footer {
    grid-row: 3/4;
    text-align: right;
    margin-right: 20px;
}
.title {
    justify-self: center;
    grid-row: 2/3;
    font-size: x-large; 
}
.linkbox {
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}
button {
  border-radius: 30px;
  font-size: small;
  width: 60px;
}
.noButton {
  background-color: transparent;
  border: none;
  font-family:"Icons";
  font-size: small;
  width: 5px;
}
.active {
    background-color: #f8cb02;
    color: black;
}
.main {
    grid-row: 2/3;
    display: grid; 
    grid-template-columns: 0.5fr 4fr 0.5fr;
    overflow: hidden;
}
.content {
    grid-column: 2/3;
    overflow-y:auto;
}
.complete {
  text-decoration: line-through;
}
.urgent {
  color: red;
  font-style: bold;
}
.project {
  list-style-type: none;
  font-size: larger;
  margin: 2vw;
  font-style: italic;
}
.projectTasks {
  list-style-type: disc;
  font-size: smaller;
  margin-top: 0px;
  font-style: normal;
}
.tasks {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 1vw;
}
.imageFit {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 15px;
}
.inputBox {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.newProjectButton {
  border-radius: 30px;
  width: 60px;
  line-height: 0.8;
}
.saveButton {
  border-radius: 30px;
  width: 60px;
  margin-top: 10px;
  align-self: center;
  background-color: #f8cb02;
}
.input {
  border: none;
  border-bottom: 0.5px solid white;
  background-color:transparent;
}
.input::placeholder {
  color: black;
}
.input:focus {
  background-color: white;
}


